<!--Reto 3.1 DIA 5
• En la página de mostrar libros sobre el contenedor donde mostramos las cards, se debe
maquetar un buscador, en caso que el buscador este vacío se deben mostrar todos los libros
y sino el libro indicado por id_book.-->
<div class="contenido_Books">
    <div class="buscador">
        <input #id_Book type="search" placeholder="Introduce una Ref">
        <button (click)="buscar(id_Book.value)">Buscar por Ref</button>
    </div>
    <!-- <div *ngIf = "books.length >0" class="condicional_ngIf"> -->
         <ng-container *ngFor="let book of books let esPar = even">
           
            <!--Aquí comunicación PADRE-HIJO 
            donde "book","esPar","books" son los nombres de las variables
             [book], [esPar], [books] son los atributos en corchetes están en card.componetn.ts-->
            <app-card [book]="book" [esPar]="esPar"[books]="books" (bookEliminado)="borrar($event)"></app-card>
            <!--Aquí comunicación HIJO-PADRE (bookEliminado)="eliminarBook($event)" proviene del hijo card.component.ts-->
            
        </ng-container>
    <!-- </div> -->
    <ng-template #noBooks >No hay libros en este momento</ng-template>
   
</div>