.contenido{
    flex: 1 1 auto;
    /* border: rgba(10, 230, 47, 0.524) 4px solid;
    border-radius: 6px; */
    height: 96vh;
    width: 100%;
    display:flex;
    flex-direction:column;
    padding: 1px 2px;
    font-size: large;
    background-image: url('/assets/img/register.jpg'); 
}
    .main{
    
        /* margin-bottom: 200px; */
        padding: 5px;
        width: 40%;
        border-radius: 30px;
        background-color: #fafafa10;
        backdrop-filter: blur(0.3rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:30%;
        margin-top: 3%;
        }


        form {
            /* border: rgb(36, 37, 40) 4px solid;
            border-radius: 6px; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            max-width: 2000px;
            margin: 0 auto;
            margin-top: 3%;
        } 
        .mb-4{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family:var(--tipo-fuente);
            }
            .tituloForm{
                color:var(--color-primario);
                font-size: 20px;
                font-family:var(--tipo-fuente);
                margin-bottom: 10%;
                text-align: center;
            }
        .form-group{
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10%;
        }
            input {
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-top: 0.4rem;
                width:200px;
                text-align: center;
            }
  
            .form_button{
                      background-color:var(--color-primario);
                      color: var(--color-blanco);
                      border: none;
                      border-radius: 16px;
                      padding: 1rem 1rem;
                      cursor: pointer;
                      display: flex;
                      justify-content: center;
                      width: 230%;
            }
             .form_button:disabled{
                background-color: var(--color-gris);
                color: var(--color-blanco);
             }
            
/* Validación de los inputs*/
/* .is-invalid[type=text]:focus, .is-invalid[type=password]:focus{ */
    .invalid-feedback{
                        color: red;
                        
    }
    .is-invalid{
            border-color: var(--color-terciario);
            box-shadow: 0 0 8px red;
            outline: 0 none;
    }

    /* .invalid-input{
            width: 350px;
            font-size: 12px;
            text-align: end;
    } */
