<!--<p>footer works!</p>-->

<footer>
    <ul class="footerRedes">
        <li><a href="" class="footerLink"><img src="../../../assets/img/logoFB.png" alt="Facebook"></a></li>
        <li><a href="" class="footerLink"><img src="../../../assets/img/logoInsta.png" alt="Instagram"></a></li>
        <li><a href="" class="footerLink"><img src="../../../assets/img/logoLink.png" alt="LinkedIn"></a></li>
    </ul>
    <div class="mifirmaFooter">Web desarrollada por © Janet Rojas - 2023 </div>
</footer>
  