<!-- Reto 3 DIA6: Componente Register
• Transformar el formulario register a formularios angular Model driven.
• Todos los campos serán obligatorios.
• Añadir todas las validaciones que se consideren oportunas, incluyendo el validador por propio de
repetir contraseña.
• Resaltar con CSS y con mensajes textuales los campos que no sean válidos.
• No se podrá hacer submit hasta que el formulario no sea completamente válido. -->

<div class="contenido">
    <div class="main">
        <form class="mb-4" [formGroup]="myForm">
            <div class="form1">
                <div class="tituloForm">
                    <h1>Registrate</h1>
                </div>
            </div>

            <div class="form-group">
                <!--input nombre -->
                <!-- <input type="text" class="form-control" style="width: 250px;" formControlName="nombre"
                    [ngClass]="{'is-invalid': (myForm.get('nombre').dirty || myForm.get('nombre').touched) && !myForm.get('nombre').valid}">
                <div *ngIf="!myForm.get('nombre').valid" class="invalid-feedback">El nombre es obligatorio</div>
               -->

                <input type="text" class="form-control" placeholder="Nombre" style="width: 250px;" formControlName="nombre"
                    [ngClass]="{'is-invalid': myForm.get('nombre').touched && !myForm.get('nombre').valid}">
                <div *ngIf="myForm.get('nombre').touched && !myForm.get('nombre').valid" class="invalid-feedback" style="color: red;">El nombre es obligatorio</div>
              
                <!-- input apellidos -->
                
                    <!-- <input type="text" class="form-control" style="width: 250px;" formControlName="apellidos"
                    [ngClass]="{'is-invalid': (myForm.get('apellidos').dirty || myForm.get('apellidos').touched) && !myForm.get('apellidos').valid}"/>
                    <div *ngIf="!myForm.get('apellidos').valid" class="invalid-feedback">
                        <div *ngIf="myForm.get('apellidos').errors.required" style="color: red;">El apellido es obligatorio</div>
                    </div>  -->
              
                    <input type="text" class="form-control" placeholder="Apellidos" style="width: 250px;" formControlName="apellidos"
                    [ngClass]="{'is-invalid': myForm.get('apellidos').touched && !myForm.get('apellidos').valid}">
                <div *ngIf="myForm.get('apellidos').touched && !myForm.get('apellidos').valid" class="invalid-feedback" style="color: red;">El Apellido es obligatorio</div>
              
                <!-- input correo -->
               
                    <!-- <input type="email" class="form-control" placeholder="Correo electrónico" style="width: 250px;"
                    formControlName="email"
                    [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}"/>
                    <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                        <div *ngIf="myForm.get('email').errors.required" style="color: red;">La dirección de email es obligatoria</div>
                        <div *ngIf="myForm.get('email').errors.email" style="color: red;">El correo debe tener '@'</div>
                    
                    </div> -->

                    <input type="email" class="form-control" placeholder="Correo electrónico" style="width: 250px;"
                    formControlName="email"
                    [ngClass]="{'is-invalid': myForm.get('email').touched && !myForm.get('email').valid}"/>
                <div *ngIf="myForm.get('email').touched && !myForm.get('email').valid" class="invalid-feedback">
                    <div *ngIf="myForm.get('email').errors.required" style="color: red;">La dirección de correo electrónico es obligatoria</div>
                    <div *ngIf="myForm.get('email').errors.email" style="color: red;">El correo debe contener '@'</div>
                </div>
                
                <!-- inputs de contraseña -->
                

                    <!-- <input type="password" class="form-control" placeholder="Contraseña" style="width: 250px;"
                    formControlName="password"
                    [ngClass]="{'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}"/>
                    <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
                        <div *ngIf="myForm.get('password').errors.required">El Password es obligatorio</div>
                        <div *ngIf="myForm.get('password').errors.minlength" style="color: red;">Mínimo 8 caracteres
                        </div>
                    </div> -->
                
                    <input type="password" class="form-control" placeholder="Contraseña" style="width: 250px;"
                    formControlName="password"
                    [ngClass]="{'is-invalid': myForm.get('password').touched && !myForm.get('password').valid}"/>
                <div *ngIf="myForm.get('password').touched && !myForm.get('password').valid" class="invalid-feedback">
                    <div *ngIf="myForm.get('password').errors.required">La contraseña es obligatoria</div>
                    <div *ngIf="myForm.get('password').errors.minlength" style="color: red;">Mínimo 8 caracteres</div>
                </div>
                <!--inputs de repetir contraseña-->
               

                    <!-- <input type="password" class="form-control" placeholder="Repetir Contraseña" style="width: 250px;"
                    formControlName="repeatPassword"
                    [ngClass]="{'is-invalid': (myForm.get('repeatPassword').dirty || myForm.get('repeatPassword').touched) && !myForm.get('repeatPassword').valid}"/>
                    <div *ngIf="!myForm.get('repeatPassword').valid" class="invalid-feedback">
                        <div *ngIf="myForm.get('repeatPassword').errors.minlength" style="color: red;">Mínimo 8 caracteres</div>
                        <div *ngIf="!myForm.get('repeatPassword').errors.required && myForm.get('repeatPassword').checkPasswords()">Las claves no coinciden</div>
                    </div> -->
                

                    <input type="password" class="form-control" placeholder="Repetir Contraseña" style="width: 250px;"
                    formControlName="repeatPassword"
                    [ngClass]="{'is-invalid': myForm.get('repeatPassword').touched && !myForm.get('repeatPassword').valid}"/>
                <div *ngIf="myForm.get('repeatPassword').touched && !myForm.get('repeatPassword').valid" class="invalid-feedback">
                    <div *ngIf="myForm.get('repeatPassword').errors.minlength" style="color: red;">Mínimo 8 caracteres</div>
                    <div *ngIf="!myForm.get('repeatPassword').errors.required && myForm.get('repeatPassword').checkPasswords()">Las claves no coinciden</div>
                </div>

    
                <!--div que muestra los errores en los inputs -->
                
                    <div class="invalid_feedback">*Todos los campos son obligatorios</div>
          
            <button type="button" class="form_button" (click)="register()"
                [disabled]="myForm.invalid">Registrarse</button>
            </div>
        </form>
    </div>
</div>

