<section class="contenidoFormulario">
    <div class="tituloform"><h2>Registrate</h2></div>
    <form id="contactForm">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" required>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" required>

        <label for="email">Email:</label>
        <input type="text" id="email" required>

        <label for="conocer">Contraseña:</label>
        <input type="password" id="contraseña" required>

        <label for="bootcamp">Repetir Contraseña:</label>
        <input type="password" id="repetir" required>


        <button type="button">REGISTRARSE</button>
        
    </form>
    </section>
